<div class="wrapper">
  <div class="side-bar">
    <div class="side-bar-header">
      <div class="header-name">
        <a href="#">Tom</a>
      </div>
      <div class="create-name">
        <a href="#">create-chat</a>
      </div>
    </div>

    <div class="rooms">
      <div class="room">
        <div class="room-name">
          <a href="#">chat-room1</a>
        </div>
      </div>
      <div class="room">
        <div class="room-name">
          <a href="#">chat-room2</a>
        </div>
      </div>
    </div>

    <%= render "side_bar" %>
  </div>
  <div class="main-chat">
    <div class="chat-header">
    </div>

    <div class="messages">
    </div>

    <div class="form">
    </div>

    <%= render "main_chat" %>
  </div>
</div>