<div class="wrapper">
  <div class="side-bar">
    <div class="side-bar-header">
      <div class="header-name">
        <a href="#">Tom</a>
      </div>
      <div class="create-name">
        <a href="#">チャットを作成する</a>
      </div>
    </div>

    <div class="rooms">
      <div class="room">
        <div class="room-name">
          <a href="#">chat-room1</a>
        </div>
      </div>
      <div class="room">
        <div class="room-name">
          <a href="#">chat-room2</a>
        </div>
      </div>
    </div>

    <%= render "side_bar" %>
  </div>
  <div class="main-chat">
    <div class="chat-header">
      <div class="header-title">
        group-name
      </div>
      <div class="header-right">
        <div class="header-button">
          <a href="#">チャットを終了する</a>
        </div>
      </div>
    </div>

    <div class="messages">
      <div class="message">
        <div class="upper-message">
          <div class="message-user">
            Tom
          </div>
          <div class="message-date">
            2020/03/31 (Wed) 00:00:00
          </div>
        </div>
        <div class="lower-message">
            <div class="message-content">
              おはよう
            </div>
        </div>
      </div>
      <div class="message">
        <div class="upper-message">
          <div class="message-user">
            Ken
          </div>
          <div class="message-date">
            2020/04/01 (Wed) 11:11:11
          </div>
        </div>
        <div class="lower-message">
          <div class="message-content">
            おはよう
          </div>
        </div>
      </div>
    </div>

    <div class="form">
      <div class="form-input">
        <input class="form-message" placeholder="type a message">
        <label class="form-image">
          <span class="image-file">画像</span>
          <input type="file" class="hidden">
        </label>
      </div>
      <div>
        <input class="form-submit" type="submit" value="送信">
      </div>
    </div>

    <%= render "main_chat" %>
  </div>
</div>